.signUpBottom{
    margin: 3px 0;
    height: 38px;
    width: 16%;    
    color: #cfc9e1;
    background-color: #4a3b76;
    text-transform: uppercase;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    letter-spacing: 2px;
    text-decoration: none;
    text-align: center;
    float: left;
    margin-top: 30px;
    margin-left: 40%;
}

.signUpBottom:hover{
    animation-name: btn-hov;
    animation-duration: 550ms;
    animation-fill-mode: forwards;
    background-color: #0066a3 ;
}

@keyframes btn-hov {
    100% {
        background-color: #b1a2e0;
        color: #4a3b76;
        transform: scale(1.25)
    }
}